<h2>Show article</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @article.title %>
  </li>

  <li>
    <strong>Url:</strong>
    <%= @article.url %>
  </li>

  <li>
    <strong>Content:</strong>
    <%= raw @article.article_html %>
  </li>

</ul>

<%= link "Edit", to: article_path(@conn, :edit, @article) %>
<%= link "Back", to: article_path(@conn, :index) %>
